<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348255973061-o757skf1hugqo4fveegj5esn6ueg8ak9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348255973061-o757skf1hugqo4fveegj5esn6ueg8ak9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>348255973061-bpthrtdnmapkp4rf75t198p3qsp0vjc6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBD7mbnuXOV8Lb3YvLLBU5jXWeF-jPymNE</string>
	<key>GCM_SENDER_ID</key>
	<string>348255973061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alinawab.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-e96e4</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-e96e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348255973061:ios:515d5ddcdc3f251f618aac</string>
</dict>
</plist>